<style>
    * {
        outline: 0;
        font-family: sans-serif
    }

    body {
        background-color: #fafafa
    }

    span.choose {
        color: #555;
        padding: 5px 0 10px;
        display: inherit
    }

    /*Styling Selectbox*/
    .dropdown {
        width: 300px;
        margin: 5px auto 0;
        display: inline-block;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 16px;
        color: #474747;
        height: 100%;
        text-align: center;
    }

    .dropdown .select {
        cursor: pointer;
        display: block;
        padding: 10px
    }

    .dropdown .select>i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
        line-height: 20px
    }

    .dropdown:hover {
        box-shadow: 0 0 4px rgb(204, 204, 204)
    }

    .dropdown:active {
        background-color: #f8f8f8
    }

    .dropdown.active:hover,
    .dropdown.active {
        box-shadow: 0 0 4px rgb(204, 204, 204);
        border-radius: 2px 2px 0 0;
        background-color: #f8f8f8
    }

    .dropdown.active .select>i {
        transform: rotate(-90deg)
    }

    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 1px 2px 2px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }

    .dropdown .dropdown-menu li {
        padding: 10px;
        transition: all .2s ease-in-out;
        cursor: pointer
    }

    .dropdown .dropdown-menu {
        padding: 0;
        list-style: none
    }

    .dropdown .dropdown-menu li:hover {
        background-color: #f2f2f2
    }

    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }
</style>

<style>
    div#header {
        background-color: #ff0000;
        height: 40px;
    }
</style>

<script>
    /*Dropdown Menu*/
    $('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });
    /*End Dropdown Menu*/


    //$('.dropdown-menu li').click(function () {
    //    alert($(this).parents('.dropdown').find('input').val());
    //var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
    //    msg = '<span class="msg">Hidden input value: ';
    //$('.msg').html(msg + input + '</span>');
    //});

    $('#preset').click(function () {
        //alert($(this).parents('.dropdown').find('input').val());
        var $preset = $(this).parents('.dropdown').find('input').val();

        hideDates();

        if ($preset === "Day by Day") {
            $("#day").show();

            var $def_day = $("#def_day").text();

            var $site = "Shilan",
                $date = $def_day;

            getChart($site, $date)
            //getDetails($site, $date)
        }
    });

    $('.select_day').click(function () {
        var $site = "Shilan";
        var $date = $(this).parents('.dropdown').find('input').val();

        getChart($site, $date)
        //getDetails($site, $date)
    });

    function hideDates() {
        $("#datedefault").hide();
        $("#day").hide();
    }

    function getChart($site, $date) {
        $.ajax({
            type: 'POST',
            url: '/getchart',
            data: {
                site: $site,
                date: $date,
            },
            beforeSend: function () {
                //$('#chartDiv').hide();
                $('#reportData').hide();

                $('#loadingDiv').show();
            },
            success: function (html) {
                $('#loadingDiv').hide();

                //$('#chartDiv').html(html);
                //$('#chartDiv').show();
                $('#reportData').html(html);
                $('#reportData').show();
            }
        });
    }
    /*
    function getDetails($site, $date) {
        $.ajax({
            type: 'POST',
            url: '/getdetails',
            data: {
                site: $site,
                date: $date,
            },
            beforeSend: function () {
                $('#detailsDiv').hide();
            },
            success: function (html) {
                $('#detailsDiv').html(html);
                $('#detailsDiv').show();
            }
        });
    }
    */
    
</script>

<div id="def_day" style="display: none;">{{ def_day }}</div>

<div class="row">
    <div class="col-md-4" style="margin-top: 10px;">
        <div class="dropdown" id="site">
            <div class="select">
                <span>Shilan</span>
                <i class="fa fa-chevron-left"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
        <div class="dropdown">
            <div class="select">
                <span>Preset</span>
                <i class="fa fa-chevron-left"></i>
            </div>
            <input type="hidden" name="preset">
            <ul class="dropdown-menu" id="preset">
                <li id="Day by Day">Day by Day</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
        <div class="dropdown" id="datedefault">
            <div class="select">
                <span>Date</span>
                <i class="fa fa-chevron-left"></i>
            </div>
        </div>

        <div class="dropdown" id="day" style="display: none;">
            <div class="select">
                <span>{{ def_day }}</span>
                <i class="fa fa-chevron-left"></i>
            </div>
            <input type="hidden" name="day">
            <ul class="dropdown-menu" id="day">
                {% for dt in array_dt %}
                <li id="{{dt}}" class="select_day">{{dt}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="reportData"></div>